* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

:root {
    --orange-color: rgb(1, 227, 43); 
}


body {
    display: grid;
    place-content: center;
    height: 100vh;
    background: rgb(46,46,46);
    background: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(3,3,3,1) 100%);
}

.container {
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 30px;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #333333;
    gap: 6px;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 1.8em;
}


i {
    margin-top: 5px;
    font-size: 1.8em;
}


.add-task {
    display: flex;
}

#inputBox {
    padding: 12px 15px;
    border-radius: 999px;
    border: none;
    background-color: #dedede;
    min-width: 100%;
    position: relative;
    outline: none;
}

.add-task button {
    padding: 13px 30px;
    border-radius: 999px;
    border: none;
    background-color: var(--orange-color);
    color: white;
    position: relative;
    cursor: pointer;
    right: 78px;
    font-weight: bold;
}


#taskList {
    margin-top: 20px;
    list-style: none; 
}

#taskList li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    user-select: none;
    position: relative;
}

#taskList li i {
    position: absolute;
    right: 0;
    top: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #555;
    line-height: 30px;
    text-align: center;
    transition: background 0.2s ease;
    border-radius: 999px;
}

#taskList li i:hover {
    background: #ccc;   
}

#taskList li::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

#taskList li.checked {
    color: #555;
    text-decoration: line-through;
}

#taskList li.checked::before {
    background-image: url(checked-Photoroom.jpg);
}
  

footer {
    color: #fff;
    font-weight: bold;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 30px;
    position: absolute;
}